Repository itsmeow/betteranimalsplus, pull requests merged in 2019-12, with the labels that each got.

#120 Zotzpyre aspects
  src/main/java/its_meow/betteranimalsplus/integration/ThaumcraftIntegration.java
Labels: enhancement, mc:1.12, mod compat

#121 Update es_es.lang
  src/main/resources/assets/betteranimalsplus/lang/es_es.lang
Labels: confirmed, enhancement, lang/translation, mc:1.12

#123 Bobbit worm aspects
  src/main/java/its_meow/betteranimalsplus/integration/ThaumcraftIntegration.java
Labels: confirmed, enhancement, mc:1.12, mod compat

#124 Update es_es.json
  src/main/resources/assets/betteranimalsplus/lang/es_es.json
Labels: confirmed, enhancement, lang/translation, mc:1.14
